@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
}
.clear::after {
  display: block;
  content: "";
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
li {
  list-style: none;
}
.container {
  width: 1226px;
  margin-left: auto;
  margin-right: auto;
}
header {
  position: relative;
  z-index: 20;
  height: 100px;
  font-size: 12px;
  color: #b0b0b0;
  background: #fff;
  border-bottom: 2px solid #ff6700;
}
header .header-logo {
  float: left;
  width: 48px;
  height: 48px;
  margin-top: 26px;
  margin-right: 45px;
  font-size: 0;
}
header .header-logo a {
  display: block;
  width: 48px;
  height: 48px;
  background: #ff6700 url(../img/mi-logo.png) no-repeat center center;
}
header .header-title {
  float: left;
  margin-top: 26px;
}
header .header-title h2 {
  float: left;
  font-size: 28px;
  font-weight: 400;
  color: #424242;
}
header .header-title p {
  float: left;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 12px;
  color: #757575;
}
header .header-login {
  float: right;
  margin-top: 30px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
header .header-login a {
  color: #757575;
}
header .header-login a:hover {
  color: #ff6700;
}
header .header-login .user {
  float: left;
}
header .header-login .user:hover .user_menu {
  display: block;
}
header .header-login .user .user_name {
  display: block;
  width: 110px;
  height: 40px;
  text-align: center;
}
header .header-login .user .user_menu {
  display: none;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
header .header-login .user .user_menu ul {
  width: 110px;
  padding: 7px 0;
}
header .header-login .user .user_menu ul li a {
  display: block;
  padding: 3px 30px;
  line-height: 2;
  color: #757575;
}
header .header-login .user .user_menu ul li:hover {
  background: #f5f5f5;
}
header .header-login .user .user_menu ul li:hover a {
  color: #ff6700;
}
header .header-login .sep {
  float: left;
}
header .header-login .user_order {
  float: left;
  width: 70px;
}
main {
  padding: 38px 0;
  background: #f5f5f5;
}
main .cart .cart_head {
  height: 70px;
  padding-right: 26px;
  line-height: 70px;
  color: #424242;
  background: #fff;
}
main .cart .cart_head div {
  float: left;
}
main .cart .cart_head .h-check {
  width: 110px;
}
main .cart .cart_head .h-check i {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 24px;
  margin-right: 15px;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  vertical-align: middle;
  cursor: pointer;
}
main .cart .cart_head .h-img {
  width: 120px;
}
main .cart .cart_head .h-name {
  width: 380px;
  text-align: left;
}
main .cart .cart_head .h-price {
  width: 150px;
  text-align: center;
}
main .cart .cart_head .h-num {
  width: 150px;
  text-align: center;
}
main .cart .cart_head .h-subtotal {
  width: 120px;
  padding-right: 80px;
  text-align: right;
}
main .cart .cart_head .h-action {
  width: 80px;
  text-align: center;
}
main .cart .cart_list {
  background: #fff;
}
main .cart .cart_list .body_box {
  height: 86px;
  padding: 15px 0;
  padding-right: 26px;
  line-height: 86px;
  color: #424242;
  border-top: 1px solid #e0e0e0;
}
main .cart .cart_list .body_box div {
  float: left;
}
main .cart .cart_list .body_box .b-check {
  width: 110px;
}
main .cart .cart_list .body_box .b-check i {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 24px;
  margin-right: 15px;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  vertical-align: middle;
  cursor: pointer;
}
main .cart .cart_list .body_box .b-img {
  width: 120px;
}
main .cart .cart_list .body_box .b-img img {
  display: block;
  width: 80px;
  height: 80px;
  border: 0;
}
main .cart .cart_list .body_box .b-name {
  width: 380px;
  text-align: left;
}
main .cart .cart_list .body_box .b-name .name {
  margin-top: 35px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
main .cart .cart_list .body_box .b-name a {
  color: #424242;
}
main .cart .cart_list .body_box .b-price {
  width: 150px;
  text-align: center;
}
main .cart .cart_list .body_box .b-num {
  width: 150px;
  text-align: center;
}
main .cart .cart_list .body_box .b-num .b-num-new {
  border: 1px solid #e0e0e0;
  text-align: center;
  background-color: #fff;
  margin-top: 23px;
}
main .cart .cart_list .body_box .b-num .b-num-new a {
  display: block;
  float: left;
  width: 38px;
  height: 38px;
  font-size: 20px;
  line-height: 38px;
  color: #757575;
}
main .cart .cart_list .body_box .b-num .b-num-new a:hover {
  background: #eee;
}
main .cart .cart_list .body_box .b-num .b-num-new input[type="text"] {
  float: left;
  width: 72px;
  height: 38px;
  font-size: 16px;
  line-height: 38px;
  color: #424242;
  text-align: center;
  border-width: 0;
  outline: none;
}
main .cart .cart_list .body_box .b-subtotal {
  width: 120px;
  padding-right: 80px;
  text-align: right;
}
main .cart .cart_list .body_box .b-action {
  width: 80px;
  text-align: center;
}
main .cart .cart_list .body_box .b-action a {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
  border-radius: 12px;
}
main .cart .kong {
  display: none;
}
main .cart .cart_foot {
  height: 50px;
  margin: 20px 0;
  background: #fff;
}
main .cart .cart_foot .cart_foot_left {
  float: left;
  line-height: 50px;
}
main .cart .cart_foot .cart_foot_left a {
  margin-left: 32px;
  color: #757575;
}
main .cart .cart_foot .cart_foot_left a:hover {
  color: #ff6700;
}
main .cart .cart_foot .cart_foot_left span {
  margin-left: 16px;
  padding-left: 16px;
  color: #757575;
  border-left: 1px solid #eee;
}
main .cart .cart_foot .cart_foot_left span i {
  color: #ff6700;
  font-style: normal;
}
main .cart .cart_foot .cart_foot_right {
  float: right;
  color: #ff6700;
}
main .cart .cart_foot .cart_foot_right em {
  font-style: normal;
  font-size: 30px;
}
main .cart .cart_foot .cart_foot_right .btn {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin-left: 50px;
  font-size: 18px;
  line-height: 48px;
  color: #fff;
  text-align: center;
  background: #ff6700;
  vertical-align: top;
}
footer .site-footer .footer-service {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}
footer .site-footer .footer-service ul {
  width: 100%;
  height: 25px;
}
footer .site-footer .footer-service ul li {
  width: 20%;
  box-sizing: border-box;
  float: left;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  text-align: center;
  border-left: 1px solid #e0e0e0;
}
footer .site-footer .footer-service ul li a {
  color: #616161;
}
footer .site-footer .footer-service ul li a:hover {
  color: #ff6700;
}
footer .site-footer .footer-service ul li:nth-of-type(1) {
  border-left: none;
}
footer .site-footer .footer-links {
  overflow: hidden;
  padding: 40px 0;
}
footer .site-footer .footer-links dl {
  float: left;
  width: 160px;
}
footer .site-footer .footer-links dl dt {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 1.25;
  color: #424242;
}
footer .site-footer .footer-links dl dd {
  margin-top: 10px;
  font-size: 12px;
}
footer .site-footer .footer-links dl dd a {
  color: #757575;
}
footer .site-footer .footer-links dl dd a:hover {
  color: #ff6700;
}
footer .site-footer .footer-links .col-contact {
  float: right;
  width: 20%;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
  font-size: 12px;
}
footer .site-footer .footer-links .col-contact p {
  margin-bottom: 5px;
}
footer .site-footer .footer-links .col-contact .phone {
  font-size: 22px;
  color: #ff6700;
  line-height: 1;
}
footer .site-footer .footer-links .col-contact .btn {
  display: inline-block;
  width: 118px;
  height: 28px;
  line-height: 28px;
  color: #ff6700;
  background: #fff;
  border: 1px solid #ff6700;
}
footer .site-footer .footer-links .col-contact .btn:hover {
  color: #fff;
  background: #ff6700;
  transition: all 0.5s;
}
footer .site-footer .footer-links .col-contact .follow {
  margin-top: 10px;
}
footer .site-footer .footer-links .col-contact .follow .wb {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/wb.png) no-repeat;
  background-size: cover;
}
footer .site-footer .footer-links .col-contact .follow .wb:hover {
  background: url(../img/wb@2x.png) no-repeat;
  background-size: cover;
}
footer .site-footer .footer-links .col-contact .follow .wx {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/wx.png) no-repeat;
  background-size: cover;
}
footer .site-footer .footer-links .col-contact .follow .wx:hover {
  background: url(../img/wx@2x.png) no-repeat;
  background-size: cover;
}
footer .site-info {
  padding: 30px 0;
  font-size: 12px;
  background: #fafafa;
}
footer .site-info .container {
  position: relative;
}
footer .site-info .logo {
  width: 57px;
  height: 57px;
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 10px;
  background: url(../img/logo-footer.png) no-repeat;
  text-align: left;
  text-indent: -999px;
  overflow: hidden;
}
footer .site-info .info-text {
  padding-left: 67px;
  color: #b0b0b0;
}
footer .site-info .info-text a {
  color: #757575;
}
footer .site-info .info-text a:hover {
  color: #ff6700;
}
footer .site-info .info-text p:nth-of-type(3) a {
  color: #b0b0b0;
}
footer .site-info .info-text p:nth-of-type(3) a:hover {
  color: #ff6700;
}
footer .site-info .info-links {
  padding-left: 67px;
  margin: 4px 0 15px 0;
}
footer .site-info .info-links a img {
  height: 28px;
}
footer .site-info .info-links a:nth-of-type(5) img {
  height: 40px;
}
footer .site-info .slogan {
  margin: 30px auto 0;
  height: 19px;
  background: url(../img/slogan2020.png) no-repeat center 0;
  text-align: left;
  text-indent: -999px;
  overflow: hidden;
}
